* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mx-auto {
    width: 25%;
    background-color: #ffffff;
    /* border: 10px solid rgb(245, 222, 179); */
    padding: 50px;
    border-radius: 50px;
    margin-top: 100px;
    box-shadow: 7px 7px 60px #222;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 50vh;
    right: 50vh;
    text-align: left;
    animation: slideIn 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}

.closesignup {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.4s ease;
}

.closesignup:hover {
    transform: scale(1.5);
}


.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #dd3737;
    box-shadow: 2px 2px 5px #222;
    transition: 0.5s ease;
}

.btn-primary:hover {
    transform: scale(1.08);
}

.form-control {
    box-shadow: 1px 1px 5px #222;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 1vh;
}

a {
    text-decoration: none;
    color: #dd3737;
}

.mx-auto a:hover {
    color: #1778f2;
}

.signupbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media (max-width:1440px) {
    form {
        width: 30%;
        height: auto;

    }
}

@media (max-width:1024px) {
    form {
        width: 40%;
        height: auto;

    }
}

@media (max-width:912px) {
    form {
        width: 50%;
        height: auto;

    }
}

@media (max-width:820px) {
    form {
        width: 50%;
        height: auto;

    }
}

@media (max-width:600px) {
    form {
        width: 60%;
        height: auto;
        box-shadow: 7px 7px 60px #222;

    }
}

@media (max-width:480px) {
    form {
        width: 100%;
        padding: 5vh;
        height: auto;
        box-shadow: none;
        margin-top: 10%;
        background-color: #ffffff;
        border: #ffffff;
    }

    body,
    html {
        background: #ffffff;
    }
}