* {
    margin: 0;
    padding: 0;
}


header a{
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-color:#1778f2;
    line-height: 70px;
    padding-left: 30px;
}

ul a{
    padding:20px ;
}

header a{
    padding: 25px;
    color: #111;
}


.logout {
    float: right;
    padding-right: 30px;
}

.button:hover {
    background-color: #111;
    color:white;
    padding: 15px;
    transition: 0.2s ease;
    border-radius: 20px;
}

ul {
    background-color: black;
    width: 30px;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    padding-right: 3%;
    text-align: center;
}

ul li {
    list-style: none;
    padding-bottom: 40px;
    font-size: 15px;
    padding-left: 0;
}

.list li a {
    color: white;
    font-weight:bolder ;
    text-decoration: none;
}

.list li{
    padding: 20px;
    border-radius: 20px;
}

.list li:hover {
    background-color: #1778f2;
    transition: 0.1s ease;
    padding: 20px;
}

.content {
    margin: 5% 30%;
}

.content p{
    text-align: left;
}

