/* Nav bar */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fffbe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

nav {
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.iconic {
    padding-right: 10px;
    cursor: pointer;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}

nav a:hover {
    background-color: #333;
}


#X:hover {
    display: none;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

ul.sidebar {
    animation: slideIn 0.4s ease;
}

@keyframes slideIn {
    from {
        transform: translate(-50px);
    }

    to {
        transform: translate(50);
    }
}

.sidebar li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.menu-button2 {
    display: flex;
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1% 0 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #27357f;
    background-color: #fdcf09;
    font-weight: bold;
}


/* Responsiveness */
/* @media(max-width:1092px) {
    .hideOnMobile {
        display: none;
    }
}

@media(max-width:1091px) {
    .sidebar {
        width: 100%;
    }

    .menu-button {
        display: block;
    }
} */